body{
    font-family: 'Catamaran', sans-serif; 
    font-size: 15px;
    color: rgba(0,0,0,.8);
    line-height: 1.5;
    background-color: #fff;
    margin-top: 70px;
    padding-top: 0;
    counter-reset: captions;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
p {
    margin-top: 0;
    margin-bottom: .5rem;
}
a.active{ color: #2962ff;}
ul{
    margin: 0px;
    padding: 0px;
}
.navbar-light{
    background: #fff!important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    /* min-height: 70px; */
}
.nav-item a{
    font-size: 17px;
}
.nav-item.active a{
    font-weight: 500;
    color: #2962ff !important;
}
.navbar-light .navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
}

.section{
    padding: 20px 0px;
}
#profile{
    text-align: center;
}

.portrait-title h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #000;
    margin: 20px 0 10px;
}
.portrait-title h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0,0,0,.54);
    margin: 0 0 10px;
}
.courselist li{
    list-style: none;
    margin-bottom: 8px;
}
.courselist li span, .courselist li em{
    font-size: 0.9rem;
    color: rgba(0,0,0,.54);
}

#profile .network-icon {
    margin-top: 30px;
}
ul.network-icon {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.network-icon li {
    margin-right: 10px;
    font-size: 2rem;
    display: inline-block;
    margin: 0px 10px;
}
.network-icon li img{
    width: 60%;
}
.publication-list{
    margin-bottom: 30px;
}
.publication-list .article-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.publication-list .article-title a{
    color: #151515;
    transition: color .6s ease;
}
/* .publication-list .article-title em{
    font-size: .9rem;
} */

.publication-list .article-title a:hover{
    color: #2962ff; 
    text-decoration: none;
    transition: color .6s ease;
}
.publication-list .article-style {
    margin-top: 2px;
    font-size: .9rem;
}
.publication-list  .carousel-indicators{
    bottom: -30px;
}

.publication-list .carousel-indicators li {
    width: 8px;
   height: 8px;
   border-radius: 100%;
   background: #dbdbdb;
 }
 .publication-list .carousel-indicators li.active {
    background: #d32e2e;
  }
.btn-links .btn{
    padding: 4px .2rem;
    font-size: .6rem;
    border-radius: .2rem;
    line-height: 1;
}
footer{
    /* border-top: 1px solid #c6c6c6; */
    padding-top: 15px;
    font-size: 0.8rem;
}

.catlist {
    margin: 0px;
    padding: 0px;
    /* margin-left: 20px; */
}
.catlist li{
    list-style: none;
}
.catlist li strong{
    /* margin-bottom: 1rem; */
    font-size: 1.4rem;
    font-weight: 500;
}
.catlist ul{
    /* margin-left: 20px; */
    margin-bottom: 20px;
}
.catlist p{
    margin-bottom: 0px;
}
.single-page h1{
    font-size: 1.8rem;
    font-weight: 500;
}
.single-page h2{
    font-size: 1.6rem;
    font-weight: 500;
}
.single-page h3{
    font-size: 1.4rem;
    font-weight: 500;
}
.single-page h4{
    font-size: 1.2rem;
    font-weight: 500;
}
.single-page h5{
    font-size: 1rem;
    font-weight: 500;
}
.single-page h6{
    font-size: .9rem;
    font-weight: 500;
}
/* .single-page ul{
    margin-left: 20px;
} */
.single-page ul li{
    margin-bottom: 0.5rem;
}

.aside.black .list-unstyled li a, .aside.black #TableOfContents ul li a, .black  li a{
    color: #000;
}
.aside.black .list-unstyled li a:hover, .aside.black #TableOfContents ul li a:hover, .black  li a:hover{
    color:#2962ff ;
}
.aside.black #TableOfContents ul{
    padding-left: 0;
    list-style: none;
}
.aside.black #TableOfContents ul ul{
    padding-left: 15px;
}
.post-list li strong{
    font-weight: 600;
}
.post-list li a{
    color: #000000;
}

.post-list li a:hover{
    color:#2962ff ;
    text-decoration: none;
}

.badge-light {
    border: none;
    color: rgba(0,0,0,.68);
    background: rgba(0,0,0,.05);
    font-weight: 400;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.author-card .portrait {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}
.author-card .card-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(0,0,0,.84);
}
.author-card .card-title a {
    color: rgba(0,0,0,.84);
}
.author-card .card-subtitle {
    font-weight: 300;
    font-size: .9rem;
    color: rgba(0,0,0,.54);
    margin-bottom: 7px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .navbar-light{
        min-height: 70px;
    }
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
