{{ "<!-- blog single -->" | safeHTML }}
<section>
        <div class="row">               
            <div class="col-3 aside black d-none d-md-block">
                <div class="posfixed">
                    {{ .TableOfContents | truncate 65 }}
                </div>
                
            </div>
            <div class="col-md-9 col-xs-12 single-content  mb-2">
                <div class="bg-white">
                    {{ if .Params.image }}
                        <img class="img-fluid w-100 rounded-top mb-3" src="{{ .Params.image | absURL }}" alt="blog-image">
                    {{end}}
                        <div class="pb-4">
                            <h1 class="title-page mt-0">{{ .Title }}</h3>
                            <ul class="list-inline d-block pb-2 mb-1 blog-head">
                                <li class="list-inline-item text-color ml-0">Posted By {{ .Params.Author }}</li>
                                <li class="list-inline-item text-color">Last Updated On {{ .PublishDate.Format "Jan 02, 2006" }}</li>

                                <li class="list-inline-item text-color"><i class="fa fa-folder"></i>
                                    {{ range .Params.categories }}
                                    <a class="text-color badge badge-light" href="{{ "categories/" | absURL }}{{ . | lower }}">{{ . }}</a>
                                    {{ end }}
                                </li>
                            </ul>
                            <div class="post-content">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>

                    <div class="py-4 border-bottom mb-100">
                        <div class="row">
                            <div class="col">
                                <div class="list-inline-item text-color article-tags">
                                    {{ range .Params.Tags }}
                                    <a class="text-color badge badge-light" href="{{ "tags/" | absURL }}{{ . | lower }}">{{ . }}</a>
                                    {{ end }}
                                </div>
            
                            </div>
                        </div>
                    </div>


                    

                    <div class="py-4 mb-100">
                        <div class="row">
                            <div class="col-lg-5 mb-4 mb-lg-0">
                                <div class="media author-card" itemscope="" itemtype="http://schema.org/Person">
                                    <img class="portrait mr-3 w-30" src="{{.Params.authorImage | absURL}}" itemprop="image" alt="{{.Params.author}}">
                                    <div class="media-body">
                                        <h5 class="card-title" itemprop="name">
                                            <a href="{{.Params.authorUrl}}">{{.Params.author}}</a></h5>
                                            <h6 class="card-subtitle">{{.Params.authorPost}}</h6><ul class="network-icon" aria-hidden="true"></ul></div></div>


                                {{ "<!-- share-icon -->" | safeHTML }}
                                <!-- <div class="d-flex">
                                    <span class="font-weight-light mt-2 mr-3">Share:</span>
                                    <ul class="list-inline d-inline-block">
                                        {{ range .Site.Params.sharePost }}
                                        <li class="list-inline-item">
                                            <a class="share-icon bg-secondary" href="{{ .URL | absURL }}">
                                                <i class="{{ .icon }}"></i>
                                            </a>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div> -->
                            </div>
                            {{ "<!-- tags -->" | safeHTML }}
                            </div>
                        </div>
                    </div>
                   
                </div>
           



</section>
{{ "<!-- /blog-single -->" | safeHTML }}