{{ define "main" }}    
<section class="section single-page">
    <div class="container">         
        <div class="row">
            <div class="col-12 mb-2">
                <h1 class="title-page">{{ .Title }}</h1>      
                <span class="text-muted">{{.Date.Format "01, January, 2006 "}} </span>
            </div>
        </div>        
        <div class="row">
            <div class="col-12">
                {{ .Content  | safeHTML }}
                
            </div>
        </div>
    </div>
</section>

{{ end }}

